/*General Layout*/

* {
	box-sizing: border-box;
}

body {
	font-family: 'Nunito', sans-serif;
	width: 100%;
}

.main-flex {
	display: flex;
}

.block-general {
	align-items: center;
	background-color: red;
	color: white;
	display: flex;
	flex-direction: column;
	font-size: 1rem;
	font-weight: 600;
	height: 33.33vh;
	justify-content: center;
	width: 33.33%;
}


/*//Left Side of Page*/

.side-left-main {
	display: flex;
	flex-wrap: wrap;
	height: 100vh;
	width: 60%;
}

.block1 {
	background-color: #0ABAB5;
	color: white;
	height: 33.33vh;
	width: 66.66%;
}

header {
	display: flex;
	flex-wrap: wrap;
	margin: 2.5rem 1.25rem;
	width: 75%;
}

h1 {
	font-size: 2rem;
	font-weight: 700;
}

.description {
	font-weight: 300;
	font-size: 1rem;
	line-height: 1.5rem;
	margin: 1rem 0 0.25rem;
}

button {
	background: transparent;
	border: 0.1rem solid #FFFFFF;
	color: #FFFFFF;
	font-weight: 400;
	font-size: 1rem;
  margin: 0.5rem 1rem 0 0;
  padding: 0.6rem 1rem;
}

.header-button-text {
	padding-left: 0.1rem;
	display: inline;
}

.block2 {
	background-color: #FA8A8A;
}

.block3 {
	background-color: #2E2E2E;
}

.block4 {
	background-color: #8D99AE;
}

.block5 {
	background-color: #63D3CF;
}

.block6 {
	background-color: #FA8A8A;
}

.block7 {
	background-color: #2E2E2E;
}

.block8 {
	background-color: #F72A2A;
}

.header-icons {
	width: 0.75rem;
}

.icon {
	height: 4rem;
	margin-bottom: 0.5rem;
}



/*//Right Side of Page*/

.side-right-main {
	align-items: center;
	background-image: url("Images/ronaldo.jpg");
	background-position: top center;
	background-size: cover;
	display: flex;
	height: 100vh;
	justify-content: space-between;
	width: 40%;
}


.image-markers {
	align-self: flex-start;
	position: absolute;
  right: 1rem;
  top: -0.2rem;
	width: 3rem;
}

.left-right-arrows {
	margin: 0.5rem;
	width: 3rem;
}



/*Media Queries*/
@media screen and (max-width: 1145px) {

.block-general {
	font-size: 0.75rem;
}

h1 {

	font-size: 1.5rem;
}

.image-markers {
	width: 2.5rem;
}

.icon {
	height: 3.5rem;
}

}

@media screen and (max-width: 940px) {

.block-general {
	font-size: 0.65rem;
	height: 20vh;
	width: 50%;
}

h1 {
	font-size: 1.25rem;
}

.description {
	font-size: 0.75rem;
	line-height: 1.2rem;
	margin: 0.75rem 0 0.25rem;
}

button {
	font-size: 0.75rem;
  padding: 0.5rem 1rem;
}

.block1 {
	height: 25vh;
	min-height: 155px;
	width: 100%;
}

.block8 {
	height: 15vh;
	width: 100%;
}

.icon {
	height: 3rem;
}

.side-right-main {
	background-position: 32%;
}

.image-markers {
	width: 2rem;
}

}

@media screen and (max-width: 707px) {

.block-general {
	font-size: 0.55rem;
}

h1 {
	font-size: 1.05rem;
}

.description {
	font-size: 0.6rem;
	margin: 0.5rem 0 0.25rem;
}

button {
	font-size: 0.6rem;
}

.icon {
	height: 2.5rem;
}

}

@media screen and (max-width: 566px) {

.block-general {
	font-size: 0.4rem;
}

.description {
	font-size: 0.5rem;
	margin: 0.3rem 0 0.25rem;
}

button {
	font-size: 0.5rem;
	margin: 0.2rem 0.75rem 0 0;
  padding: 0.5rem 1rem;
}


}


@media screen and (max-width: 450px) {

.main-flex {
	flex-direction: column;
	width: 100%;
}

.block-general {
	font-size: 0.7rem;
	height: 7rem;
	width: 100%;
}

.side-left-main {
	flex-direction: column;
	flex-wrap: nowrap;
	height: 100%;
	width: 100%;
}

h1 {

	font-size: 1.25rem;
}

.description {
	font-size: 0.7rem;
}

button {
	font-size: 0.7rem;
	margin: 0.25rem 0.75rem 0 0;
  padding: 0.5rem 0.75rem;
}

.block1 {
	min-height: 177px;
	width: 100%;
}

.icon {
	height: 2.5rem;
	margin-bottom: 0.25rem;
}

.side-right-main {
	height: 100vh;
	width: 100%;
}

.image-markers {
	top: 60rem;
	width: 2rem;
}

}
